<div id="home-hero">
  <h1 id="home-h1"><%= "Hello, #{current_user.username}!" %></h1>
  <h3 class="top-nav-links">View Your Trips</h3>
  <h3><%= link_to "Logout", logout_path, method: :delete, class: "top-nav-links" %></h3>
</div>
