<div id="profile-hero">
  <h1 id="home-h1"><%= "Hello, #{current_user.username}!" %></h1>
  <div class="profile-link-container">
    <p><%= link_to "View Your Trips", user_trips_path(current_user), class: "top-nav-links" %></p><br>
    <% if current_admin? %>
    <p><%= link_to "Create a Destination", new_admin_destination_path, class: "top-nav-links" %></p><br>
    <% end %>
    <p><%= link_to "Logout", logout_path, method: :delete, class: "top-nav-links" %></p><br>
  </div>
</div>
