h1 {
  font: {
    family: sans-serif;
    size: 50px;
  }
  color: white;
  margin: 30px;
}

h3 {
  font: {
    family: sans-serif;
    size: 40px;
  }
  margin: 0 0 10px 0;
}

h4 {
  font: {
    family: sans-serif;
    size: 30px;
  }
}

h5 {
  font: {
    family: sans-serif;
    size: 20px;
  }
  color: white;
  margin: -15px 0 10px 0;
}

p {
  font: {
    font-family: sans-serif;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
  }
}

a {
  text-decoration: none;
}

section {
  display: flex;
  align-items: flex-end;
}

iframe {
  margin-top: 40px;
}

.top-nav-links {
  color: white;
  font: {
    family: sans-serif;
    size: 18px;
  }
  &:hover {
    color: #e6eaf2;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search {
  margin: 50px 50px 0 0;
}

.destination-show-hero {
  background: url(rain-tail-lights.jpeg) no-repeat;
  height: 1100px;
  margin-top: -680px;
}

.block-container {
  background-color: #dee4ed;
  display: flex;
  flex-flow: row wrap;

}

.block {
  width: 20%;
  text-align: center;
  margin: 10px 0 10px 0;
}

.show-block-container {
  background-color: #dee4ed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.show-block {
  font: {
    family: san-serif;
    size: 30px;
  }
}

.authentication-form {
  display: flex;
  flex-direction: column;
  color: white;
  div {
    margin: 10px;
  }
  font: {
    size: 15px;
    family: sans-serif;
  }
}

.authentication-container {
  margin: 13% 8% 0 0;
}

#home-h1 {
  margin: 0 275px 100px 0;
}

#home-hero {
  background: image-url(misty-road1) no-repeat center center fixed;
  height: 1050px;
  margin-top: -300px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-up-hero {
  background: url(sign-up.jpeg) no-repeat center center fixed;
  height: 1050px;
  margin-top: -300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#log-in-hero {
  background: url(log-in.jpeg) no-repeat center center fixed;
  height: 1050px;
  margin-top: -300px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#destinations-hero {
  background: url(woods.jpeg) no-repeat;
  height: 900px;
  margin-top: -480px;
}

#logo {
  width: auto;
  height: 100px;
  padding: 0 0 12.5px 12.5px;
  margin-left: 50px;
}
